<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>eleccion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">eleccion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button href='/registrar' expand="block" fill="solid" color="success" shape="round">
    Docente
  </ion-button>
  <ion-button href='/registraralumno' expand="block" fill="solid" color="success" shape="round">
    Alumno
  </ion-button>
</ion-content>
